<h1>{{ titulo | uppercase }}</h1>
<p>Fecha: {{ fechaActual | date : 'longDate' }}</p>
<hr />

<h2>Lista de Productos</h2>

<button (click)="toggleLista()">{{ mostrarLista ? 'Ocultar' : 'Mostrar' }} Lista</button>

<div *ngIf="mostrarLista">
  <app-producto-card *ngFor="let producto of productos" [nombreProducto]="producto">
  </app-producto-card>
</div>

<hr />

<h3>Agregar Nuevo Producto</h3>

<div class="add-form">
  <input type="text" [(ngModel)]="nuevoProducto" placeholder="Nombre del producto" />
  <button (click)="agregarProducto()">Agregar</button>
</div>
